#brindha_1 {
  color: red;
}

#brindha_2 {
  color: blue;
}

#para {
  color: violet;
}

body {
  background-color: black;
}

li {
  color: greenyellow;
}

.unique {
  color: white;
}
