* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.card img {
  height: 200px;
  width: 300px;
}

.cardContainer {
  display: flex;
  gap: 10rem;
}

body {
  padding-right: 10rem;
  padding-left: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
